.prose {
  /* Container-like behavior with auto margins */
  width: 100%;
  margin-inline: auto;

  /* Helper for multi-line subtitles */
  sub {
    vertical-align: top;
    bottom: -0.05em;
    line-height: 1.1;
    font-weight: 300;
    /* Workaround to prevent underline inside links */
    display: inline-block;
    width: 100%;
  }

  a {
    text-underline-offset: 0.1em;
    text-decoration-thickness: 1px;
    /* Don't underline links that point to anchors */
    &[href^="#"] {
      text-decoration: none;
    }
    &:hover {
      text-decoration-thickness: 2px;
    }

    /* Helper to insert icons in links */
    i {
      height: 1em;
      margin-right: 0.25em;
      font-style: normal;
      /* Workaround to prevent underline */
      display: inline-block;

      img {
        height: 100%;
        margin: 0;
        position: relative;
        bottom: -0.15em;
      }
    }
  }

  img {
    &:not(:where(.prose > img, .prose > p > img)) {
      margin-top: 0;
      margin-bottom: 1em;
    }
  }

  /* Support for markdown anchors */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;

    .header-anchor {
      display: none;
      position: absolute;
      right: 100%;
      top: 0;
      padding-right: 0.2ch;
      color: rgba(0, 0, 0, 0.25);
    }
    &:hover {
      .header-anchor {
        display: block;
      }
      /* Support for `breakout-css` headings */
      &::before {
        margin-right: 1.5ch !important;
      }
    }
  }
  h1 {
    margin-bottom: 0.5em !important;

    sub {
      font-size: 50%;
    }
  }

  th,
  td {
    /* Keep extra space on the right for better horizontal scroll on mobile */
    padding: 1rem 2rem 1rem 0;
    vertical-align: top;
    /* Workaround to widen particular columns */
    hr {
      width: 12ch;
      height: 0;
      margin: 0;
      visibility: hidden;
      /* &.ch16 {
        width: 16ch;
      } */
    }
    /* Workaround for headings in Markdown tables */
    big {
      font-weight: bold;
    }
  }
  th {
    vertical-align: bottom;
  }

  blockquote {
    font-weight: 300;

    + figcaption {
      margin-top: -1em;
      text-align: right;
      font-style: italic;
      font-weight: 300;

      &::before {
        content: "—";
        margin-right: 0.25em;
      }
    }
  }

  code[data-caption] {
    &::before {
      content: attr(data-caption);
      display: block;
      margin-bottom: 1.5em;
      opacity: 0.5;
      font-style: italic;
    }
  }
}
