{% if site.data.site %}{% assign site = site.data.site %}{% endif %}

{% capture content_for_header %}
  {% comment %} @TODO: 1) add to tricks wiki 2) add via site.favicon {% endcomment %}
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🥷</text></svg>">
  {% comment %} @TODO: move to html.liquid {% endcomment %}
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="https://bladeswitch.com/">
{% endcapture %}

{% capture body %}
  <main class="container" style="max-width: 65ch">
    <header><small>{{ site.header | markdownify }}</small></header>
    <article class="breakout">{{ content }}</article>
    <footer style="text-align: center"><small>{{ site.footer | markdownify }}</small></footer>
  </main>
{% endcapture %}

{% include bricks/html.liquid %}
