{% if site.data.site %}{% assign site = site.data.site %}{% endif %}

{% capture body %}
  <main class="container">
    <header><small>{{ site.header | markdownify }}</small></header>
    <article>{{ content }}</article>
    <footer><small>{{ site.footer | markdownify }}</small></footer>
  </main>
{% endcapture %}

{% include bricks/html.liquid %}
