html {
  /* Prevent horizontal overflow and scrolling, modern way */
  overflow-x: clip;

  /* Font smoothing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* Ensures body takes at least the full height of the viewport (using dynamic viewport height for better mobile support) */
  min-height: 100dvh;

  /* Make the body a flex container with column layout; main fills space */
  display: flex;
  flex-direction: column;
  > main {
    flex-grow: 1;
  }

  /* Hyphenation */
  hyphens: auto;
  /* Links and tables are better (safer) without hyphenation */
  a,
  table {
    hyphens: none;
  }
}

pre {
  padding: 1rem 1.5rem;
  padding-inline-end: 2rem;

  code {
    padding: 0;
  }

  @media screen and (max-width: 767px) {
    border-radius: 0;
  }
}
