table {
  /* Workaround to widen particular columns @TODO: add to tricks-wiki */
  th {
    hr {
      width: 12ch; /* min ~65/12 = ~5 cols */
      height: 0;
      margin: 0;
      visibility: hidden;
    }
  }
}

table.borderless {
  th,
  td {
    border: none;
  }
}

/* Header anchors @TODO: add to tricks-wiki */
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;

  [data-is-anchor] {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 100%;
    padding-right: 0.2ch;
    color: silver;
    text-decoration: none;
  }
  &:hover {
    [data-is-anchor] {
      visibility: visible;
    }
  }
}

/* Helper to handle icons in links */
a > i {
  display: inline-block;
  margin-inline-end: 0.375ch; /* =3/8 */
  font-style: normal;
}

/* Favicons in links @TODO: add to tricks-wiki */
a[data-has-favicon] {
  display: inline-block;

  > img {
    max-height: 1.25em;
    margin-top: calc(-0.25em / 2);
    margin-inline-end: 0.375ch; /* =3/8 */

    /* for tw-typography (.prose) */
    display: inline-block;
    margin-bottom: 0;
  }
}

code[data-caption] {
  &::before {
    content: attr(data-caption);
    display: block;
    margin-bottom: 1rem;
    opacity: 50%;
    font-style: italic;
  }
}

/* Tailwind tricks */
.invert {
  /* Fix the scrollbar color when inverted */
  ::-webkit-scrollbar {
    filter: invert(1) !important;
  }
}

/* Jump to top trick */
[data-jump-to="top"] {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-top: 50vh;
  opacity: 25%;

  &:hover {
    opacity: 75%;
  }
}

/* Table of contents */
[data-is-toc] {
  font-size: 87.5%;

  a {
    text-decoration: none;
  }
  > ul {
    columns: 30ch auto; /* 2 cols max for 65ch container */
  }
}

/* @TODO: to TRICKS */
.columns {
  columns: 20ch auto; /* 3 cols max for 65ch container */
}

/* @TODO: to TRICKS */
ul,
ol {
  li[data-marker]::marker {
    content: attr(data-marker) " ";
  }
}

.faded {
  opacity: 50%;
  &:hover {
    opacity: 87.5%;
  }
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    .dark-auto {
      filter: invert(100%) hue-rotate(180deg);
    }
  }
}
