h1 {
  font-size: 2.5em; /* for pico.css & tw-typography */
  margin-bottom: 1rem; /* for tw-typography */
}

hr {
  margin-block: 2em; /* for pico.css & tw-typography */
}

pre {
  small {
    opacity: 50%;
    font-weight: lighter;
  }
}

table {
  th {
    font-weight: bold;
  }
  pre {
    margin-bottom: 0.25rem;
  }
}
