a:not([href^="#"]) {
  text-decoration-thickness: 1px;
  &:hover {
    text-decoration-thickness: 2px;
  }
}

h1 {
  font-size: 2.5em; /* for pico.css & tw-typography */
  margin-bottom: 1rem; /* for tw-typography */
}

hr {
  margin-block: 2em; /* for pico.css & tw-typography */
}

pre {
  small {
    opacity: 50%;
    font-weight: lighter;
  }
}

table {
  th {
    font-weight: bold;
  }
  pre {
    margin-bottom: 0.25rem;
  }
}

[data-jump-to] {
  color: black;
  font-size: 0.75rem;

  > i {
    border-color: black;
  }
}
